<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LocationService" />
        <binding name="DeliveryService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebServices/Services/LocationService.svc/LocationService.svc"
          binding="basicHttpBinding" bindingConfiguration="LocationService"
          contract="ILocationService" name="LocationService" />
      <endpoint address="http://localhost/WebServices/Services/DeliveryService.svc/DeliveryService.svc"
            binding="basicHttpBinding" bindingConfiguration="DeliveryService"
            contract="IDeliveryService" name="DeliveryService" />
    </client>
  </system.serviceModel>
</configuration>