@model IEnumerable<Sentinel.Models.AssignDeliveryItemViewModel>

<script type="text/javascript">
    
    $(function () {
        var consignmentKey = '@Model.First().ConsignmentKey.ToString()';
        var itemKeys = new Array();

        $('#assign-dialog').dialog({
            width:
                600,
            autoOpen:
                true,
            resizable:
                false,
            draggable:
                false,
            modal:
                true,
            title:
                "Assign Delivery Items",
            buttons:
                [
                    {
                        text: "Assign",
                        click: function () {
                            var self = this;

                            $('.keys:checked').each(function () {
                                itemKeys.push($(this).val());
                            });

                            $.post('../AssetManagement/AssignDeliveryItems', { strConsignmentKey: consignmentKey, strDeliveryItemKeys: itemKeys.toString() }, function (data) {
                                $(self).dialog("close");
                                $('#items-grid').replaceWith(data);
                            });
                        }
                    },
                    {
                        text: "Cancel",
                        click: function () {
                            $(this).dialog("destroy");
                        }
                    }
                ]
        });
    });
</script>

<div id="assign-dialog" style="display: none; width: 10em">
    <span>Select delivery items to assign to Consignment: @Model.First().ConsignmentKey</span>
    <br />
    <br />
    @foreach (var item in Model)
    {
        <input class="keys" type="checkbox" value="@item.Item.DeliveryItemKey" /> <span>@item.Item.DeliveryItemKey</span>
        <br />
    }
</div>
