@model IEnumerable<Sentinel.Models.MenuViewModel>

@{
    ViewBag.Title = "Consignment Management";
}

<section id="site-section" class="consignment-management">

</section>

@Html.Action("ConsignmentManagementPageActions")
