@model IEnumerable<Sentinel.Models.MenuViewModel>
<script src="@Url.Content("~/Scripts/Views/Management.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Consignment Management";
}

<section id="asset-management" class="consignment-management">

</section>

<section id="section-actions">
    <ul id="actions">
    @foreach (var item in Model)
    {
        <li class="action">
            <a class="action-item action-link" href="@Url.Action(item.ID)">
                @item.Display
                <br />
                <span class="action-description">@item.Description</span>
            </a>
        </li>
    }
    </ul>
</section>