
<script src="@Url.Content("~/Scripts/Views/Management.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Management";
}

<h2>Management</h2>

<div id="div-consignments-grid">
</div>

<br />

<div id="div-controls">
    <input id="btn-get-assigned-consignments" type="button" value="Get Assigned Consignments" />
    <input id="btn-get-unassigned-consignments" type="button" value="Get UnAssigned Consignments" />
</div>