<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
 
    <bindings>
      <webHttpBinding>
        <binding name="StreamedRequestWebBinding"
         bypassProxyOnLocal="true"
         useDefaultWebProxy="false"
         hostNameComparisonMode="WeakWildcard"
         sendTimeout="10:15:00"
         openTimeout="10:15:00"
         receiveTimeout="10:15:00"
         maxReceivedMessageSize="2147483647"
         maxBufferSize="2147483647"
         maxBufferPoolSize="2147483647"
         transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647"
                        maxStringContentLength="2147483647" />
        </binding>
        <binding name="AuthenticationService" />
        <binding name="LocationService" />
        <binding name="DeliveryService" />
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost/WebServices/Services/LocationService.svc"
                behaviorConfiguration="webHttpBehavior"
                binding="webHttpBinding" bindingConfiguration="StreamedRequestWebBinding"
                contract="ILocationService" name="LocationService" />
      <endpoint address="http://localhost/WebServices/Services/DeliveryService.svc"
                behaviorConfiguration="webHttpBehavior"
                binding="webHttpBinding" bindingConfiguration="StreamedRequestWebBinding"
                contract="IDeliveryService" name="DeliveryService" />
      <endpoint address="http://localhost/WebServices/Services/AuthenticationService.svc"
                behaviorConfiguration="webHttpBehavior"
                binding="webHttpBinding" bindingConfiguration="StreamedRequestWebBinding"
                contract="IAuthenticationService" name="AuthenticationService" />
    </client>
  </system.serviceModel>
</configuration>