.table
{
    border: solid 1px #777777;
    border-collapse: collapse;
    font-size: 11px;
    width: 100%;
    background-color: #CBCDC9;
}

    .table th
    {
        padding: 3px;
        text-align: left;
        border-left: solid 1px #777777;
        border-right: solid 1px #777777;
        color: #000;
    }

        .table th a
        {
            text-decoration: none;
            color: #000;
        }

    .table tr.head
    {
        background-color: #eeeeee;
        border: solid 1px #777777;
    }

    .table td
    {
        padding: 3px;
        border-left: solid 1px #777777;
        border-right: solid 1px #777777;
    }

        .table td a
        {
            text-decoration: underline;
            color: #000;
        }

    .table .alt
    {
        background-color: #ebf5fa;
        color: #000;
    }

    .table .normal
    {
        background-color: #99B1BF;
        color: #000;
    }

.pager
{
    font-size: 10px;
    font-weight: bold;
    color: #000;
    background-color: #eeeeee;
}

    .pager select
    {
        font-size: 10px;
        border: solid 1px #777777;
    }

    .pager td
    {
        padding: 0px;
        border-top: solid 1px #777777;
        min-height: 18px;
    }

        .pager td a
        {
            font-size: 10px;
            font-weight: bold;
            color: #666666;
            text-decoration: underline;
        }
