body {
    margin: auto;
    font: bold .7em Verdana;
    color: #fff;
    background-color: #CBCDC9;
}

#content {
    margin: auto;
    width: 1000px;
    height: 100%;
    background-color: #373C40;
    border-radius: .5em;
}

    #content table td {
    }

a, a:visited {
    font: bold 1em Verdana;
    color: #737A7F;
    text-decoration: none;
}

#main {
    width: 800px;
    min-height: 500px;
    background-color: #373C40;
}

#error-body {
    color: #cc0000;
    text-align: center;
    padding-top: 150px;
}

    #error-body span {
        font-size: 2em!important;
    }

#map {
    width: 99%;
    height: 50em;
    border: 2px solid #000;
}

#map-controls {
    margin: 2em;
}

.overlay {
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background-color: #fff;
}

.overlay-img {
    margin: 1em;
}

#container {
    height: 100%;
}

#div-updates {
    height: 10em;
}

#gis-info {
    color: #666;
}

.input-error {
    border: 2px solid #cc0033;
}

.editor-field input[type="text"] {
    width: 16em;
    height: 2em;
    font-size: 1em;
    border-radius: 4px;
    margin-bottom: 1em;
}

.editor-field input[type="password"] {
    width: 16em;
    height: 2em;
    font-size: 1em;
    border-radius: 4px;
    margin-bottom: 1em;
}

#user-select-div select {
        width: 16em;
    height: 2em;
    font-size: 1em;
    border-radius: 4px;
    margin-bottom: 1em;
}