#menu
{
    text-align: center;
}

#div-site-selection
{
    margin-left: .3em;
    margin-top: .1em;
    width: 75%;
    height: 2.6em;
    border-bottom: solid .1em #fff;
}

#contact-selection
{
    list-style: none;
    margin-top: 4em;
    margin-left: 17em;
}

.contact-selection-item
{
    display: inline-block;
    margin-right: 5em;
}

#site-selection
{
    list-style: none;
}

.site-selection-item
{
    display: inline-block;
    border: 1em solid :#444444;
}

.menu-item
{

}

.link
{
    display: block;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    background-color: #fff;
    border-radius: .5em .5em 0 0;
    border: .15em solid #666;
    border-bottom: none;
    height: 2.5em;
    background-color: #fff;
}
/*
.link:hover
{
    background-color: #fff;
    box-shadow: inset 0em .05em .1em rgba(0,0,0,0.4);
}
*/