@{
    ViewBag.Title = "Historical Tracking";
}

<h2>Historical Tracking Data</h2>

<section id="tracking-historical">



</section>

<section id="tracking-historical-map">

</section>
