@model IEnumerable<Sentinel.Models.MenuViewModel>

<div id="div-site-selection">
    <ul id="site-selection">
    @foreach (var item in Model)
    {
        if(null != item.Permission && User.IsInRole(item.Permission))
        {
            <li class="site-selection-item">
                <a class="link" href="@Url.Content(@item.URL)">
                    @item.Display
                </a>
            </li>
        }
    }
    </ul>
</div>