@{
    ViewBag.Title = "Management";
}

<script type="text/javascript">

    $(function () {
        $('#btn-get-assigned-consignments').on('click', function () {
            $.post('../AssetManagement/GetAssignedConsignments', function (data) {
                $('#div-consignments-grid').replaceWith(data);
            });
        });

        $('#btn-get-unassigned-consignments').on('click', function () {
            $.post('../AssetManagement/GetUnAssignedConsignments', function (data) {
                $('#div-consignments-grid').replaceWith(data);
            });
        });
    });

</script>

<h2>Management</h2>

<div id="div-consignments-grid">
</div>

<br />

<div id="div-controls">
    <input id="btn-get-assigned-consignments" type="button" value="Get Assigned Consignments" />
    <input id="btn-get-unassigned-consignments" type="button" value="Get UnAssigned Consignments" />
</div>