@model IEnumerable<DomainModel.Models.AssetModels.UnAssignedConsignment>
@using Sentinel.Grid.UI;

@{
    ViewBag.Title = "Unassigned Consignments";
}

@{
    var grid = new SentinelRazorWebGrid(source: Model);
}

<script type="text/javascript">

    $(function () {
        $('.show-item').on('click', function () {

            $('.child-grid').each(function () {
                $(this).remove().slideUp();
            });

            var consignmentKey = $(this).attr('key');

            if ($(this).hasClass('ui-plus')) {

                $(this).removeClass('ui-plus').addClass('ui-minus');

                var self = $(this);

                $.post('../AssetManagement/GetConsignmentDeliveryItem', { strConsignmentKey: consignmentKey }, function (data) {
                    self.parents('tr:first').after('<tr class="child-grid"><td colspan="4">' + data + '</td></tr>').slideDown();
                });

            } else {
                $(this).removeClass('ui-minus').addClass('ui-plus');
            }
        });
    });

</script>

<section>
    @grid.GetHtml(columns: new SentinelRazorWebGridColumn[]{
                            grid.CreateColumn(itemHorizontalAlignment: "center", width: "13px", dataFieldFormat: @<text> <a key="@item.ConsignmentKey" class="show-item ui-plus"></a></text>),
                            grid.CreateColumn(width: "13px", itemHorizontalAlignment: "center", dataFieldFormat: @<text> <input type="checkbox" value="@item.ConsignmentKey" /> </text>),
                            grid.CreateColumn(dataField: "ConsignmentKey", headerText: "Consignment Key", headerHorizontalAlignment: "center"),
                            grid.CreateColumn(dataField: "ConsignmentDateTime", headerText: "Consignment Created", headerHorizontalAlignment: "center"),
                        },
                  pager: new Pager { Alignment = PagerAlign.Center, TotalRows = ViewBag.GridRecordCount, RowsPerPage  = 20, CssClass = "pager" },
                  tableStyle: "table",
                  headerStyle: "head",
                  alternatingRowStyle: "alt")
</section>

@Html.Action("UnAssignedConsignmentsPageActions")