@model IEnumerable<DomainModel.SecurityModels.User>

@{
    ViewBag.Title = "Reset Password";
}

<script type="text/javascript">
    $(function () {
        $('#user-select').change(function () {
            $.ajax({
                url: "GetResetPasswordPartial",
                data: {strUserKey : $(this).val()},
                success: function (data) {
                    $('#reset-password').replaceWith(data);
                }
            });
        });
    });
</script>

<section id="reset-password">
    <section id="site-section">
        <div id="user-select-div" style="margin:1em;">
            <label for="user-select">Choose User</label>
            <br />
            <select id="user-select">
                @foreach (var item in Model)
                {
                    @:<option value="@item.UserKey">@item.FirstName @item.LastName</option>
                }
            </select>
        </div>
    </section>

    @Html.Action("UserSelectPageActionButtons")
</section>