@model DomainModel.SecurityModels.User

@{
    ViewBag.Title = "Reset Password";
}

<script type="text/javascript">
    $(function () {
        $('#btnResetPassword').on('click', function () {
            var password = $('#txt-password').val();
            var confirm = $('#txt-password-confirm').val();

            if (password != '' && confirm != '' && password != confirm) {
                $('#txt-password').addClass('input-error');
                $('#txt-password-confirm').addClass('input-error');

                $('#txt-password-confirm').parent().append('<span id="password-error" class="ui-icon ui-icon-alert"></span>');

                $('#password-error').qtip({
                    content: 'Passwords do not match',
                    style: {
                        classes: 'qtip-red'
                    }
                });
            }
        });
    });
</script>

<section id="reset-password">
    <section id="site-section">
        <div id="user-select-div" style="margin:1em;">
            <label for="txt-password">New Password</label>
            <br />
            <input id="txt-password" type="password" />

            <br />
            <br />

            <label for="txt-password-confirm">Confirm New Password</label>
            <br />
            <input id="txt-password-confirm" type="password" />
        </div>
    </section>
    @Html.Action("ResetPasswordPageActionButtons")
</section>