@model IEnumerable<DomainModel.SecurityModels.User>

<script type="text/javascript">

    $(function () {

        $('#dialog').dialog({
            autoOpen: true,
            resizable: false,
            draggable: false,
            modal: true,
            title: "Select Driver",
            buttons:
                [
                    {
                        text: "Select",
                        click: function () {
                            var driverKey = $('#driver-select option:selected').val();
                            $.post('../Tracking/GetAllHistoricalDataByDriverKey', { strDriverKey: driverKey }, function (data) {
                                $('#tracking').replaceWith(data);
                                
                            });

                            $(this).dialog("destroy");
                        }
                    }
                ],
            close: function () {
                window.location.href = 'Index';
            }
        });
    });

</script>

<div id="dialog" style="display:none">
    <span>Select Driver to display historical data for: </span><br />
    <select id="driver-select">
        @foreach (var user in Model)
        {
            <option value="@user.UserKey">@user.FirstName @user.LastName</option>
        }
    </select>
</div>

