@model IEnumerable<Sentinel.Models.MenuViewModel>

<section id="section-actions">
    <ul id="actions">
    @foreach (var item in Model)
    {
        if(null != item.Permission && User.IsInRole(item.Permission))
        {
            <li class="action">
                <a class="action-item action-link" href="@Url.Content(@item.URL)">
                    @item.Display
                    <br />
                    <span class="action-description">@item.Description</span>
                </a>
            </li>
        }
    }
    </ul>
</section>
