@model IEnumerable<DomainModel.Models.AssetModels.AssignedConsignment>
@using Sentinel.Grid.UI;

@{
    ViewBag.Title = "Assigned Consignments";
}


@{
    var grid = new SentinelRazorWebGrid(source: Model);
    grid.UsePostBack = false;
}

<section>
    @grid.GetHtml(columns: new SentinelRazorWebGridColumn[]{
                            grid.CreateColumn(headerHorizontalAlignment: "center", headerText: "Items", dataFieldFormat: @<text> <a value="@item.ConsignmentKey" class="show-items ui-icon ui-icon-plus"></a> </text>),
                            
                            grid.CreateColumn(dataField: "ConsignmentKey", headerText: "Consignment Key", headerHorizontalAlignment: "center"),
                            grid.CreateColumn(dataField: "AssignedDriverKey", headerText: "Assigned Driver Key", headerHorizontalAlignment: "center"),
                            grid.CreateColumn(dataField: "AssignedDriverFirstName", headerText: "Driver First Name", headerHorizontalAlignment: "center"),
                            grid.CreateColumn(dataField: "AssignedDriverLastName", headerText: "Driver Second Name", headerHorizontalAlignment: "center"),
                            grid.CreateColumn(dataField: "AssignedDriverContactNumber", headerText: "Driver Contact Number", headerHorizontalAlignment: "center"), 
                            grid.CreateColumn(dataField: "ConsignmentDateTime", headerText: "Consignment Created", headerHorizontalAlignment: "center")
                        },
                  pager: new Pager { Alignment = PagerAlign.Center, TotalRows = ViewBag.GridRecordCount, RowsPerPage  = 20, CssClass = "pager" },
                  tableStyle: "table",
                  headerStyle: "head",
                  alternatingRowStyle: "alt")
</section>

@Html.Action("AssignedConsignmentsPageActions")