body
{
    margin: auto;
    font: bold .7em Verdana;
    color: #fff;
    background-color: #CBCDC9;
}

#content
{
    margin: auto;
    width: 1000px;
    height: 100%;
    background-color: #50748C;
    border-radius: 1em;
}

a, a:visited
{
    font: bold 1em Verdana;
    color: #737A7F;
    text-decoration: none;
}

#main
{
    width:800px;
    min-height: 500px;
    background-color: #50748C;
}

#map
{
    width: 99%;
    height: 50em;
    border: 2px solid #000;
    margin: 1em;
}

#map-controls
{
    margin: 2em;
}

.overlay
{
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background-color: #fff;
}

.overlay-img
{
    margin:1em;
}

#container
{
    height: 100%;
}

#div-updates
{
    height: 10em;
}

#events-list
{
    height: 100%;
}

#gis-info
{
    color: #666;
}