#site-section {
    width: 795px;
    height: 395px;
    display: block;
    border-radius: .5em;
    border: .1em solid #999;
    background-color: #444;
}

    #site-section.management-index {
        background-image: url(images/bgs/management-img.jpg);
    }

    #site-section.consignment-management {
        background-image: url(images/bgs/management-img.jpg);
    }

    #site-section.driver-management {
        background-image: url(images/bgs/management-img.jpg);
    }

    #site-section.delivery-item-management {
        background-image: url(images/bgs/management-img.jpg);
    }

    #site-section.home-index {
        background-image: url(images/bgs/bg-img-home.jpg);
    }

    #site-section.administration-index {
        background-image: url(images/bgs/bg-img-admin.jpg);
    }

    #site-section.tracking-index {
        background-image: url(images/bgs/bg-img-tracking.jpg);
    }

    #site-section.heatmapping-index {
        background-image: url(images/bgs/bg-img-heatmapping.jpg);
    }

#create-user {
    margin: 1em;
}

.editor-field .display-field {
    margin-bottom: 1em;
}
