<script src="@Url.Content("~/Scripts/jquery.signalR-1.0.0-rc1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script type="text/javascript">

    $(function () {
        //Create SignalR object to get communicate with server
        var sentinelHub = $.connection.sentinelHub;

        sentinelHub.client.allLocationUpdates = function (userKey, timestamp, latitude, longitude, speed, orientation, eventType) {
            writeEvent('<br />Update from driver: ' + userKey + '<br />Time: ' + timestamp + " Latitude: " + latitude + " Longitude: " + longitude + " Speed: " + speed + " Orientation: " + orientation, eventType, userKey);
        };

        //Write the event to the monitor
        function writeEvent(eventLog, logClass, driverKey) {
            var now = new Date();
            var nowStr = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();

            $('#events-list').prepend('<div class="update ui-state-error-' + logClass + ' ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span><a class="contact ui-icon ui-icon-contact" href="#" val=' + driverKey + '></a> ' + eventLog + '</p></div>');

            doAlert(logClass);
        }

        function doAlert(logClass) {
            if (logClass == 'caution') {
                for (var i = 0; i < 5; i++) {
                    flash('#FFFF00');
                }
            } else if (logClass == 'severe') {
                flash('#CC0033');
            }
        }

        function flash(colour) {
            $("#events-list").stop().css("background-color", "transparent").animate({ backgroundColor: colour }, 500, function () {
                $("#events-list").stop().css("background-color", colour).animate({ backgroundColor: "transparent" }, 500, function () {
                    $("#events-list").stop().css("background-color", "transparent").animate({ backgroundColor: colour }, 500, function () {
                        $("#events-list").stop().css("background-color", colour).animate({ backgroundColor: "transparent" }, 500, function () {
                            $("#events-list").stop().css("background-color", "transparent").animate({ backgroundColor: colour }, 500, function () {
                                $("#events-list").stop().css("background-color", colour).animate({ backgroundColor: "transparent" }, 500);
                            });
                        });
                    });
                });
            });
        }

        writeEvent("Test Update", "caution", "66FBA0E1-6429-4999-9538-6566DEE70048");

        $('.contact').on('click', function () {
            
            var key = $(this).attr('val');
            $.ajax({
                url: '../Monitor/GetDriverContactDetailsPartial',
                data: { strDriverKey: key },
                success: function (data) {
                    $('#events-list').append(data);
                }
            });
        });
    });
</script>

<div id="updates-window-header">
    <span class="span-updates">Real-Time Monitor</span>
</div>
<div id="events-list">
    <div class="update ui-state-error-normal ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span><a class="ui-icon ui-icon-contact" href="#"></a>Normal Event</p></div>
    <div class="update ui-state-error-caution ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span><a class="ui-icon ui-icon-contact" href="#"></a>Cautionary Event</p></div>
    <div class="update ui-state-error-severe ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span><a class="ui-icon ui-icon-contact" href="#"></a>Severe Event</p></div>
</div>
