<script src="@Url.Content("~/Scripts/jquery.signalR-1.0.0-rc1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script type="text/javascript">

    $(function () {

        //Create SignalR object to get communicate with server
        var sentinelHub = $.connection.sentinelHub;

        sentinelHub.client.allLocationUpdates = function (userKey, timestamp, latitude, longitude, speed, orientation, eventType) {
            writeEvent('<br />Update from driver: ' + userKey + '<br />Time: ' + timestamp + " Latitude: " + latitude + " Longitude: " + longitude + " Speed: " + speed + " Orientation: " + orientation, eventType);
        };

        //Write the event to the monitor
        function writeEvent(eventLog, logClass) {
            var now = new Date();
            var nowStr = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
            $('#events-list').prepend('<span class="event-msg ' + logClass + '">' + nowStr + ': ' + eventLog + '.</span> <br />');
            $('#events-list').prepend('<span class="ui-icon ui-icon-alert event-icon ' + logClass + '"></span>');
        }
    });
</script>

<div id="updates-window-header">
    <span class="span-updates">Real-Time Monitor</span>
</div>
<div id="events-list">
    <span class="ui-icon ui-icon-alert event-icon severe"></span><span class="event-msg severe">severe event message!</span>
    <br />
    <br />
    <span class="ui-icon ui-icon-alert event-icon caution"></span><span class="event-msg caution">cautoniary event message!</span>
    <br />
    <br />
    <span class="ui-icon ui-icon-alert event-icon normal"></span><span class="event-msg normal">normal event message!</span>
</div>
