@model IEnumerable<Sentinel.Models.MenuViewModel>
@{
    ViewBag.Title = "Activity Monitoring";
}

<section id="site-section" class="heatmapping-index">

</section>

@Html.Action("ActivityMonitoringPageActions")