<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="dave@daveajrussell.com">
        <network host="mail2.gridhost.co.uk" port="465" userName="dave@daveajrussell.com" password="randomness" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>