<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="AuthenticationService" />
        <binding name="LocationService" />
        <binding name="DeliveryService" />
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost/WebServices/Services/LocationService.svc"
                behaviorConfiguration="webHttpBehavior"
                binding="webHttpBinding" bindingConfiguration="LocationService"
                contract="ILocationService" name="LocationService" />
      <endpoint address="http://localhost/WebServices/Services/DeliveryService.svc"
                behaviorConfiguration="webHttpBehavior"
                binding="webHttpBinding" bindingConfiguration="DeliveryService"
                contract="IDeliveryService" name="DeliveryService" />
      <endpoint address="http://localhost/WebServices/Services/AuthenticationService.svc"
                behaviorConfiguration="webHttpBehavior"
                binding="webHttpBinding" bindingConfiguration="AuthenticationService"
                contract="IAuthenticationService" name="AuthenticationService" />
    </client>
  </system.serviceModel>
</configuration>